# Neon Postgres Database Connection String
DATABASE_URL="postgresql://neondb_owner:placeholder@ep-sample.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Cloudinary Credentials (Phase 7)
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"

# App Auth & Public URL
AUTH_SECRET="your-secure-auth-secret-min-32-chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

